1. Need to Install Pandas and Seaborn, Matplotlib package in the terminal

In [16]:
import pandas as pd
shot_data = pd.read_csv('All_Player_data.csv')
print(shot_data.head())

  Team        full_name first_name  last_name Pos    Ht   Wt  \
0  CLE     Craig Porter      Craig     Porter  PG   6-2  186
1  MEM   Xavier Tillman     Xavier    Tillman   C   6-8  245
2  BOS   Xavier Tillman     Xavier    Tillman  PF   6-8  245
3  MEM       GG Jackson         GG    Jackson  PF   6-9  215
4  LAL  Harry Giles III      Harry  Giles III   C  6-11  240

          Birth Date Country Exp                              College  \
0  February 26, 2000      us   R  Vincennes University, Wichita State
1   January 12, 1999      us   2                       Michigan State
2   January 12, 1999      us   3                       Michigan State
3  December 17, 2004      us   R                       South Carolina
4     April 22, 1998      us   3                                 Duke

        id  is_active  Season
0  1641854       True    2024
1  1630214       True    2023
2  1630214       True    2024
3  1641713       True    2024
4  1628385       True    2024

In [18]:
# Check dataframe info for data types and null values
print(shot_data.info())



# Check for unique values in categorical columns
print(shot_data['Pos'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Team        976 non-null    object
 1   full_name   976 non-null    object
 2   first_name  976 non-null    object
 3   last_name   976 non-null    object
 4   Pos         976 non-null    object
 5   Ht          976 non-null    object
 6   Wt          976 non-null    int64
 7   Birth Date  976 non-null    object
 8   Country     976 non-null    object
 9   Exp         976 non-null    object
 10  College     861 non-null    object
 11  id          976 non-null    int64
 12  is_active   976 non-null    bool
 13  Season      976 non-null    int64
dtypes: bool(1), int64(3), object(10)
memory usage: 100.2+ KB
None
Pos
SG    227
SF    203
PF    192
C     186
PG    168
Name: count, dtype: int64

In [19]:
# Convert 'Ht' from feet-inches to inches
shot_data['Ht'] = shot_data['Ht'].apply(lambda x: int(x.split('-')[0]) * 12 + int(x.split('-')[1]))

# Handling missing values (if any)
shot_data = shot_data.fillna({'Exp': '0'})  # Assuming missing experience means new player

# Normalize text data
shot_data['Country'] = shot_data['Country'].str.upper()  # Standardize country names to uppercase

In [20]:
shot_data

,Team,full_name,first_name,last_name,Pos,Ht,Wt,Birth Date,Country,Exp,College,id,is_active,Season
0,CLE,Craig Porter,Craig,Porter,PG,74,186,"February 26, 2000",US,R,"Vincennes University, Wichita State",1641854,True,2024
1,MEM,Xavier Tillman,Xavier,Tillman,C,80,245,"January 12, 1999",US,2,Michigan State,1630214,True,2023
2,BOS,Xavier Tillman,Xavier,Tillman,PF,80,245,"January 12, 1999",US,3,Michigan State,1630214,True,2024
3,MEM,GG Jackson,GG,Jackson,PF,81,215,"December 17, 2004",US,R,South Carolina,1641713,True,2024
4,LAL,Harry Giles III,Harry,Giles III,C,83,240,"April 22, 1998",US,3,Duke,1628385,True,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,LAL,Max Christie,Max,Christie,SG,78,190,"February 10, 2003",US,R,Michigan State,1631108,True,2023
972,LAL,Max Christie,Max,Christie,SG,78,190,"February 10, 2003",US,1,Michigan State,1631108,True,2024
973,BOS,Derrick White,Derrick,White,SG,76,190,"July 2, 1994",US,5,"Colorado-Colorado Springs, Colorado",1628401,True,2023
974,BOS,Derrick White,Derrick,White,SG,76,190,"July 2, 1994",US,6,"Colorado-Colorado Springs, Colorado",1628401,True,2024
975,CLE,Ricky Rubio,Ricky,Rubio,PG,74,190,"October 21, 1990",ES,11,NaN,201937,True,2023

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns

# Height vs. Weight Scatter Plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Ht', y='Wt', data=shot_data, hue='Pos', style='Pos', s=100)
plt.title('Player Height vs Weight by Position')
plt.xlabel('Height (in inches)')
plt.ylabel('Weight (lbs)')
plt.grid(True)
plt.show()

# Distribution of Player Experience
plt.figure(figsize=(10, 6))
sns.countplot(x='Exp', data=shot_data)
plt.title('Distribution of Player Experience')
plt.xlabel('Years of Experience')
plt.ylabel('Number of Players')
plt.xticks(rotation=45)
plt.show()

# Age distribution across the dataset
shot_data['Age'] = 2024 - pd.to_datetime(shot_data['Birth Date']).dt.year  # Assuming current year is 2024
plt.figure(figsize=(10, 6))
sns.histplot(shot_data['Age'], bins=15, kde=True)
plt.title('Age Distribution of Players')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

ModuleNotFoundError: No module named 'seaborn'

2. Below are the sample code to join two dataset

In [ ]:
#Sample Code, change the file name
# Load the datasets
shot_data = pd.read_csv('./All_Player_data.csv')
info_data = pd.read_csv('player_info_data.csv')

# Print the first few rows to understand their structure
print("Shot Data Preview:")
print(shot_data.head())
print("\nInfo Data Preview:")
print(info_data.head())

# Perform the join
# Assuming 'player_id' and 'season' are the columns you'll join on and they are named the same in both dataframes
combined_data = pd.merge(shot_data, info_data, on=['player_id', 'season'], how='inner')

# Display the first few rows of the combined dataframe to verify the join
print("\nCombined Data Preview:")
print(combined_data.head())

# Save the combined data to a new CSV file
combined_data.to_csv('combined_player_data.csv', index=False)

# Optionally, you can explain how to handle mismatches or missing data:
# If there are players in the shot data not found in the info data, or vice versa,
# you might want to explore using 'how' parameter in merge function as 'outer' to see all data:
full_data = pd.merge(shot_data, info_data, on=['player_id', 'season'], how='outer')
print("\nFull Data Preview (with all records):")
print(full_data.head())